@import "bootstrap";

//.btn {
//    margin-right:1em;
//}

.stats {
    height:40em;
    overflow:auto;
}

.form-inline {
    padding:10px;
}
.form-inline > * {
    margin:5px 3px !important;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline:none;
}

.tab-content{
   padding-top: 10px;
}

#neurog-body {
  width: 95vw;
  height: 95vh;
}

#neurog-body button{
  color: black;
}

.popover-anchor:focus {
 outline: none;
}

.winner {
    color: #e6af00;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent;
}

.m-l-1 {
    margin-left: 1rem;
}

.glyphicon-arrow-up, .glyphicon-arrow-down {
    color: grey;
}

.key{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: .5rem;

}